<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Producto</title>
</head>
<body>
	<div th:replace="/header :: header"></div>

	<br>

	<br>

	<br>

	<br>

	<div class="container">

		<h2>Nuevo Producto</h2>

		<form th:action="@{/product/add}" th:object="${producto}"
			method="post">
			<input type="hidden" th:field="*{idProducto}" />
			<div class="form-group">
				<label class="control-label" th:for="nombre">Nombre</label> <input
					class="form-control" th:field="*{nombre}" type="text" />
			</div>
			<div class="form-group">
				<label class="control-label" th:for="descripcion">Descripción</label>
				<input class="form-control" th:field="*{descripcion}" type="text"
					step="1" />
			</div>
			<div class="form-group">
				<label class="control-label" th:for="marca">Marca</label> <input
					class="form-control" th:field="*{marca}" type="text" step="1"
					min="0" />
			</div>
			<div class="form-group">
				<label class="control-label" th:for="precio">Precio</label> <input
					class="form-control" th:field="*{precio}" type="number" step="0.01"
					min="0" />
			</div>
			<div class="form-group submit-cancel">
				<input class="btn btn-primary" type="submit" value="Guardar Producto" />
				<a class="btn btn-primary btn-cancel" th:href="@{/product/index}">Cancelar</a>
			</div>
		</form>

	</div>

</body>
</html>